APOLLO_API_KEY=your_apollo_api_key_here
PORT=3005
APOLLO_BASE_URL=https://api.apollo.io

# These credential for auth whenever we will try to use mcp tools then we need to provide this credential.
MCP_CLIENT_ID=
MCP_CLIENT_SECRET=
